header{
    font-family: cursive;
    display: flex;
    flex-direction:column;
    align-items: center;
    .header-acceuil{
        background-color: $primary;
        width: 100%;
        height: 100px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    img{
        height: 100%;
        margin: 20px;
    }
    .header-acceuil-présentation{
        background-color: $primary;
        margin-top:40px;
        margin-bottom:20px;
        text-align: center;
        height: 500px;
        border:solid;
        border-radius: 20px;
        border-color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        display: flex;
        align-items: center;
        box-shadow: 3px 4px 3px $primary-darken;
       
        .choix{
            display:flex;
            width:90%;
            justify-content: space-around;
            margin-top:10px;
           .teddy, .cam, .furn{
               width: 30%;
               height: 80%;
               border-radius: 20px;
               cursor: pointer;

               &:hover{
                box-shadow: 3px 4px 3px $primary-darken;
                transform:scale(1.2);
                p{
                    box-shadow: 3px 4px 3px $primary-darken;
                    transform:scale(1.2);
                    background-color: $primary-hover;

                }

                }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    border: solid;
                    border-color: $primary-darken;
                    margin: 0;
                }
                p{
                    margin-top: 20px;;
                    border-color: $primary-darken;
                    box-shadow: 3px 2px 2px $primary-darken;
        
                }
            }
        }

        a{
            color:black;
            margin-top:20px;
            font-size: 2em;
            border:solid;
            width: 20%;
            border-radius: 20px;
            border-color: $primary-darken;
            box-shadow: 3px 4px 3px $primary-darken;
            &:hover{
                text-decoration: none;
                transform:scale(1.2);
                background-color: $primary-hover;
            }
        }
    }
    #list-produits{
        margin-top: 10px;
        img{
          margin:0
        }
    }

}

                /*****style mobile*****/
@media screen and (min-width:320px) and (max-width:750px){
    header .header-acceuil-présentation{
        height: 550px;
        display: flex;
        justify-content: end;
        width: 100%;
        .choix{
            width: 100%;
            flex-wrap: wrap;
            height: 350px;
            .teddy, .cam, .furn{
                width: 40%;
                height: 40%;
                margin-bottom:70px;
                img{
                    margin-top:20px;
                }
    
            }
        }
        
    }
    #list-produits{
        display:flex;
        flex-direction: column;
        margin:0;
        a{
            width: 90%;
            margin:5px;
        }
    }
    footer ul{
        height: 150px;
    }

};